<div style="padding: 20px; font-family: sans-serif;">
    <h2>Healthcare Credential Tracker</h2>

    @if (api.isLoggedInSignal()) {
        <div style="display: flex; gap: 20px; margin-bottom: 20px;">

            <div style="background-color: #e9ecef; padding: 15px; border-radius: 5px; flex: 1;">
                <h3>Add New Employee</h3>
                <form (ngSubmit)="onSubmitEmployee()" style="display: flex; flex-direction: column; gap: 8px;">
                    <input type="text" placeholder="First Name" [(ngModel)]="newEmployee.firstName" name="fName" required>
                    <input type="text" placeholder="Last Name" [(ngModel)]="newEmployee.lastName" name="lName" required>
                    <input type="text" placeholder="Role (Eg. Nurse)" [(ngModel)]="newEmployee.role" name="role" required>
                    <input type="text" placeholder="Department (Eg. ER)" [(ngModel)]="newEmployee.department" name="dept">
                    <input type="text" placeholder="Email" [(ngModel)]="newEmployee.email" name="email" required>
                    <button type="submit" style="background-color: #28a745; color: white; border: none; padding: 6px; cursor: pointer;">Save Employee</button> 
                </form>
            </div>

            <div style="background-color: #e9ecef; padding: 15px; border-radius: 5px; flex: 1;">
                <h3>Add New Certification</h3>
                <form (ngSubmit)="onSubmitCertification()" style="display: flex; flex-direction: column; gap: 8px;">
                    <input type="text" placeholder="Certification Name" [(ngModel)]="newCert.name" name="cName" required>
                    <label style="font-size: 14px;">Renewal Period (Months)</label>
                    <input type="number" [(ngModel)]="newCert.validityPeriodMonth" name="months" required>
                <button type="submit" style="background-color: #17a2b8; color: white; border: none; padding: 6px; cursor: pointer;">Save Certification</button>            </form>
            </div>

        </div>

        <div style="background-color: #f9f9f9; padding: 15px; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 5px;">
            <h3>Assign a Certification</h3>
            
            <form (ngSubmit)="onSubmit()" style="display: flex; gap: 10px; align-items: center;">
                <select name="emp" [(ngModel)]="newAssignment.employeeId" required style="padding: 5px">
                    <option value="" disabled selected>Select Employee...</option>
                    @for (emp of employeeList(); track emp.id) {
                        <option [value]="emp.id">{{ emp.firstName }} {{ emp.lastName }}</option>
                    }
                </select>

                <select name="cert" [(ngModel)]="newAssignment.certificationId" required style="padding: 5px">
                    <option value="" disabled selected>Select Certification...</option>
                    @for (cert of certList(); track cert.id) {
                        <option [value]="cert.id">{{ cert.name }}</option>
                    }
                </select>

                <input type="date" name="date" [(ngModel)]="newAssignment.dateCompleted" required style="padding: 5px">

                <button type="submit" style="padding: 6px 15px; background-color: #007bff; color: white; border: none; border-radius: 4px; cursor: pointer;">
                    Assign
                </button>
            </form>
        </div>
    }


    <table borders="1" cellPadding="10">
        <tr>
            <th>Employee Name</th>
            <th>Certification</th>
            <th>Expiration Date</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>

        @for (cert of certifications(); track $index) {
            <tr>
                <td>{{ cert.employee.firstName }} {{ cert.employee.lastName }}</td>
                <td>{{ cert.certification.name }}</td>
                <td>{{ cert.expirationDate | date:'mediumDate' }}</td>        
                <td>
                    <strong>{{ cert.status }}</strong>
                </td>
                @if (api.isLoggedInSignal()) {
                    <td style="text-align: center;">
                        <button (click)="onRevoke(cert.employeeId, cert.certificationId)" style="background-color: #dc3545; color: white; border: none; padding: 5px 10px; border-radius: 3px; cursor: pointer;">
                            Revoke
                        </button>
                    </td>
                }
            </tr>
        } @empty {
            <tr>
                <td colspan="5">
                No certifications assigned yet. Use the form above to add one!
                </td>
            </tr>
        }
    </table>

    <div style="padding: 15px; border-radius: 5px;">
        <h3>Employees</h3>
        <table borders="1" cellPadding="10">
            <tr style="background: #f2f2f2">
                <th>First Name</th>
                <th>Last Name</th>
                <th>Role</th>
                <th>Department</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        @for (emp of employeeList(); track emp.id) {
            <tr>
                <td>{{ emp.firstName }}</td>
                <td>{{ emp.lastName }}</td>
                <td>{{ emp.role || 'N/A' }}</td>
                <td>{{ emp.department || 'N/A' }}</td>
                <td>{{ emp.email || 'No Email Provided'}}</td>
                @if (api.isLoggedInSignal()) {
                    <td style="text-align: center;">
                        <button (click)="onDeleteEmployee(emp.id)" style="background-color: #dc3545; color: white; border: none; padding: 5px 10px; border-radius: 3px; cursor: pointer;">
                            Delete
                        </button>
                    </td>
                }
            </tr>
        } @empty {
            <tr>
                <td colspan="5">
                No Employees yet. Use the form above to add one!
                </td>
            </tr>
        }
        </table>
    </div>

    <div style="padding: 15px; border-radius: 5px; margin-bottom: 20px;">
        <h3>Certifications</h3>
        <table borders="1" cellPadding="10">
            <tr>
                <th>Name</th>
                <th>Renewal Period In Months</th>
                <th>Actions</th>
            </tr>
        @for (cert of certList(); track cert.id) {
            <tr>
                <td>{{ cert.name }}</td>
                <td>{{ cert.validityPeriodMonth }}</td>
                @if (api.isLoggedInSignal()) {
                    <td style="text-align: center;">
                        <button (click)="onDeleteCertification(cert.id)" style="background-color: #dc3545; color: white; border: none; padding: 5px 10px; border-radius: 3px; cursor: pointer;">
                            Delete
                        </button>
                    </td>
                }
            </tr>
        } @empty {
            <tr>
                <td colspan="3">
                No Certifications yet. Use the form above to add one!
                </td>
            </tr>
        }
        </table>
    </div>

</div>