<div style="padding: 20px; font-family: sans-serif;">
    <h2>Healthcare Credential Tracker</h2>

    <app-employee-manager
     (employeeDeleted)="onEmployeeDeleted()"
     (employeeUpdated)="onEmployeeUpdated()">
    </app-employee-manager>

    <app-certification-manager
     (certificationDeleted)="onCertificationDeleted()"
     (certificationUpdated)="onCertUpdated()">
    </app-certification-manager>

    <app-certification-assignment #certAssignRef></app-certification-assignment>

    <app-department-manager></app-department-manager>
</div>
